<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать</title>
</head>
<body>
<h1 align="center" style="font-size: 60px;">
    Добро пожаловать на HoroscopeToday
</h1>
<h2 align="center" style="color: grey; font-size: 45px" >
    Готовы узнать что вас ждёт сегодня
</h2>

<div class="d-grid gap-2 d-md-block">
    <a href="/login">
  <button class="btn" style="color: blue; width: 150px; height: 80px; display: block; margin:0 auto">
      Продолжить
  </button>
    </a>
</div>
<div style="text-align: center">
    <img src="/pythonProject4/image/image1.png" alt="Картинка не найдена" width="1600" height="1600">
</div>
</body>
</html>